/* GLOBAL STUFF */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #e00;
	--font-color: #222;
	--bg-color: #eee;
	--inverted-font-color: #fff;
	--light-color: #ddd;
	--disabled-textarea-color: #fee;
	--dark-color: #666;
	--width: 42rem;
	--input-bg-color: #fff;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	line-height: 1.5;
	color: var(--font-color);
	background-color: var(--bg-color);
}

/* RESETS */

button,
input,
textarea {
	font: inherit;
	background: none;
	border: none;
	color: inherit;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
}

/* LINKS */

.link {
	text-decoration: underline;
	text-underline-offset: 0.2rem;
}

.link:focus-visible {
	outline: 0.1rem solid currentColor;
	outline-offset: 0.1rem;
}

/* BUTTONS AND INPUTS */

.button {
	background-color: var(--primary-color);
	color: var(--inverted-font-color);
	font-weight: 500;
	padding: 0.4rem 0.8rem;
	border-radius: 0.25rem;
}

.button:focus-visible {
	outline: 2px solid var(--dark-color);
	outline-offset: 2px;
}

.input,
.textarea {
	border: 1px solid var(--light-color);
	border-radius: 0.25rem;
	outline: none;
	background-color: var(--input-bg-color);
}

:is(.input, .textarea):focus-visible {
	border-color: var(--dark-color);
}

.input {
	padding: 0.2rem 0.4rem;
}

.textarea {
	width: 100%;
	resize: vertical;
	padding: 1rem;
	height: 20rem;
}

.textarea[disabled] {
	cursor: not-allowed;
	color: var(--dark-color);
	background-color: var(--disabled-textarea-color);
}

/* INPUT GROUP */

.input_group {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.input_group label {
	font-weight: 500;
}

.input_group input {
	width: 10rem;
}

/* ICONS */

.icon {
	width: 1.125rem;
}

/* MAIN */

main {
	max-width: var(--width);
	margin-inline: auto;
	padding: 1rem 0.75rem;
}

/* HOME PAGE */

.home_header {
	padding-block: 2rem 1rem;
	text-align: center;
}

.home_header h1 {
	font-weight: 600;
	font-size: 3rem;
}

.home_header p {
	font-size: 1.25rem;
}

.home_form {
	display: flex;
	justify-content: center;
}

.recent_docs {
	margin-top: 2rem;
}

.recent_docs h2 {
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.recent_docs ul {
	margin-left: 1.5rem;
}

/* DOCUMENT PAGE */

/* NAVIGATION */

.nav {
	background-color: var(--primary-color);
	color: var(--inverted-font-color);
}

.nav_content {
	padding: 0.5rem 1rem;
	max-width: var(--width);
	margin-inline: auto;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav h1 {
	font-weight: 600;
	margin-right: auto;
}

.nav button:focus-visible {
	outline: 1px solid var(--inverted-font-color);
	outline-offset: 2px;
}

#share_button span {
	display: none;
}

#share_button.copied span {
	display: inline;
}

/* TITLE INPUT */

.title_input {
	font-size: 2rem;
	font-weight: 500;
	margin-block: 0.5rem 1rem;
	width: 100%;
	padding: 0.4rem 0.8rem;
}

/* USER BLOCK */

.user_block {
	display: grid;
	gap: 1rem;
	margin-bottom: 2rem;
}

@media (min-width: 38rem) {
	.user_block {
		grid-template-columns: 1fr auto;
		align-items: start;
	}
}

/* EDITORS */

.editors_label {
	font-weight: 500;
}

/* STATUS BAR */

.status_bar {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	font-size: 0.75rem;
	color: var(--dark-color);
	margin-top: 0.5rem;
}
