<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title || "Untitled" %></title>
		<script
			src="https://cdn.socket.io/4.7.4/socket.io.min.js"
			integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="/style.css" />
	</head>

	<body data-doc-id="<%= doc_id %>">
		<nav class="nav">
			<div class="nav_content">
				<h1>Coldoc</h1>

				<button
					class="nav_el"
					id="delete_button"
					aria-label="delete document"
				>
					<img src="/icons/trash.svg" class="icon" alt="" />
				</button>

				<button
					id="copy_button"
					class="copy_button nav_el"
					aria-label="copy URL"
				>
					<span aria-hidden="true">Copied URL</span>
					<img src="/icons/copy.svg" class="icon" alt="" />
				</button>

				<a href="/" class="link nav_el" aria-label="home page">
					<img src="/icons/home.svg" class="icon" alt="" />
				</a>
			</div>
		</nav>
		<main>
			<input
				type="text"
				id="title_input"
				class="input title_input"
				aria-label="document title"
				value="<%= title %>"
			/>
			<aside class="status" id="title_status">&nbsp;</aside>

			<section class="user_block" aria-label="users">
				<div>
					<span class="label">Editors:</span>
					<span id="editor_names"></span>
				</div>

				<div class="input_group">
					<label class="label" for="name_input">Your Name</label>
					<input
						class="input name_input"
						type="text"
						id="name_input"
						spellcheck="false"
					/>
				</div>
			</section>

			<!-- prettier-ignore -->
			<textarea
				class="textarea"
				aria-label="content of the document"
			><%= text %></textarea>

			<aside class="status status_bar">
				<div id="text_status">&nbsp;</div>
				<div id="word_count"></div>
			</aside>
		</main>

		<script src="/client.js"></script>
	</body>
</html>
