<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Coldoc - <%= status %></title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div style="padding: 1rem">
			<h1><%= status %></h1>
			<p><%= message %></p>
			<br />
			<a href="/">Home</a>
		</div>
	</body>
</html>
